/* Estilos para la página de roles */
.tabla-tipos {
    margin-top: 20px;
}

.tabla-tipos h3 {
    text-align: center;
    color: #244183;
}

#tablaTipos {
    width: 100%;
    border-collapse: collapse;
}

#tablaTipos th:first-child {
    width: 70%; /* Establece el ancho del primer th (Nombre del Rol) */
}

#tablaTipos th:last-child {
    width: 30%; /* Establece el ancho del último th (Acciones) */
}

#tablaTipos th,
#tablaTipos td {
    border: 1px solid #244183;
    padding: 8px;
}

#tablaTipos th {
    background-color: #244183;
    color: #FFFFFF;
}

#tablaTipos td {
    text-align: center;
}

#tablaTipos tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablaTipos tbody tr:hover {
    background-color: #ddd;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
}

h2 {
    text-align: center;
    color: #244183; 
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #244183;
    border-radius: 50px;
    position: relative;
    background: linear-gradient(to right, #ffe600, #ffe600 75%, transparent 50%);
    overflow: hidden;
}

form::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 20px solid #244183;
    transform: translateX(-50%);
    z-index: -1;
    background-color: transparent;
    border-left: none;
    width: 75%;
}

label {
    color: #244183;
    font-weight: bold;
}

input {
    font-weight: bold;
    color: #244183;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 95%; 
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #244183;
    border-radius: 15px; 
}

input::placeholder {
    color: #244183;
}

/* Estilos para el botón "Ir al Menú" */
.menu-button {
    cursor: pointer;
    background-color: #244183;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: #0F3057;
}

/* Estilos para el botón "Guardar" */
.guardar-btn {
    cursor: pointer;
    background-color: #244183;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.guardar-btn:hover {
    background-color: #0F3057;
}

/* Estilos para los botones de eliminar y editar */
.btn-eliminar, .btn-editar {
    cursor: pointer;
    background-color: #f50000;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-editar {
    cursor: pointer;
    background-color: #244183;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Estilos para los botones cuando se les pasa el ratón por encima */
.btn-eliminar:hover, .btn-editar:hover {
    opacity: 0.8;
}

/* Estilos para el formulario emergente */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el botón de guardar y actualizar */
.guardar-btn, #actualizarTipoBtn {
    cursor: pointer;
    background-color: #244183;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.guardar-btn:hover, #actualizarTipoBtn:hover {
    background-color: #0F3057;
}
